.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
.key/
devtools/adminer
services/db/data
services/mysql/data
services/surrealdb/data
services/meilisearch
services/minio/data
services/mongo/data
services/redis/data
services/postgres/data
services/nginx/sites/*_name.conf
vendor/
projects/
