.idea/
.vscode/
node_modules/
build/
tmp/
temp/
.env
.key/
devtools/adminer
docker/db/data
docker/surrealdb/data
docker/meilisearch
docker/minio/data
docker/mongo/data
docker/redis/data
docker/postgres/data
docker/nginx/sites/*_name.conf
vendor/
projects/
