# ports and domain
HTTP_PORT=127.0.0.1:8080
HTTPS_PORT=127.0.0.1:4433
NODE_PORT=127.0.0.1:8081
SURREAL_PORT=127.0.0.1:8000

NETWORK_NAME=dev_network

# docker container config
USERID=1001
GROUPID=1001
USER_NAME=devuser
GROUP_NAME=devgroup

# Meili search
MEILI_MASTER_KEY="imuYPh-vb-ORTppyWWVqHiEIX9ySkfdXuCIWk-fmVH0"
MEILI_ENV=production
MEILI_PORT=7700

# Mysql server
MYSQL_ROOT_PASSWORD=dbpassword
MYSQL_USER=dbuser
MYSQL_PASSWORD=dbuser

# Surrealdb server
SURREAL_ROOT_PASSWORD=root

# Postgres sql
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword

# mail hog
MAILHOG_UI=8025
MAILHOG_PORT=1025

# minio
MINIO_PORT=9001
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123

# mongodb
MONGODB_ROOT_PASSWORD=dbpassword
MONGODB_USERNAME=dbuser
MONGODB_PASSWORD=dbpassword
